/* Set the padding and background color for the navigation bar */
.navbar {
    padding: 1rem 2rem;
    background-color: #808080;
}

/* Set the font size and color for the navigation links */
.nav-link {
    font-size: 1.1rem;
    color: #ffffff;
}

/* Change the color of navigation links on hover */
.nav-link:hover,
.nav-item.active .nav-link {
    color: #ffffff;
}

/* Set the font size and color for the navbar-brand */
.navbar-brand {
    font-size: 1.5rem;
    color: #f8f9fa;
}

/* Change the color of the navbar-brand on hover */
.navbar-brand:hover {
    color: #ffc107;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1em;
}

nav li:last-child {
    margin-right: 0;
}

.book-table-btn {
    background-color: #D4672C;
    border-color: #D4672C;
    color: #fff;
    border-color: #fff;
}

.book-table-btn:hover {
    background-color: #BB3B0E;
    border-color: #BB3B0E;
    color: #007bff;
    background-color: #fff;
    border-color: #fff;
}

.hamburger-menu {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
}