{% extends 'base.html' %}

{% block title %}About - My Hungarian Restaurant{% endblock %}

{% block content %}
<h2>About Us</h2>
<p>
    My Hungarian Restaurant is a family-owned business established in 2023. We offer a wide range of traditional
    Hungarian dishes, prepared with love and care. Our mission is to provide our customers with an unforgettable dining
    experience. Join
    us for lunch or dinner and experience our exquisite dishes and impeccable service.
</p>
<section>
    <h2>Welcome to My Restaurant</h2>
    <p>
        We specialize in Hungarian cuisine, providing a cozy atmosphere for a memorable dining experience. Join
        us for lunch or dinner and experience our exquisite dishes and impeccable service.
    </p>
    <img src="static/img/restaurant_interior.jpg" alt="Restaurant Interior">
</section>

<section>
    <h2>Reserve Your Table</h2>
    <p>
        Booking a table has never been easier. Simply select your preferred date, time, and the number of
        guests, and we'll take care of the rest. We look forward to welcoming you soon!
    </p>
    <a href="/booking" class="booking-button">Book a Table</a>
</section>
{% endblock %}