{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Budapest Gourmet{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-main sticky-top navbar-expand-lg navbar-transparent navbar-dark bg-dark pt-3"
            id="navbar-main">
            <div class="container-fluid">
                <img src="{% static 'images/logo.png' %}" alt="Restaurant Logo" class="logo" height="50">
                <a class="navbar-brand" href="{% url 'index' %}">Budapest Gourmet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'create_booking' %}"
                                class="btn btn-outline-primary my-2 my-sm-0 book-table-btn">Book a Table</a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1 class="my-3 text-center">Budapest Gourmet</h1>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-0">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="container-fluid">
            <div class="row my-4">
                <div class="col-12 footer-info d-flex flex-column align-items-center">
                    <a href="#" class="logo d-flex align-items-center">
                        <span>Budapest Gourmet</span>
                    </a>
                    <p class="section-content">Find us on social media.</p>
                    <div class="social-links d-flex justify-content-center mt-4">
                        <a href="#" class="twitter mx-2"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook mx-2"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram mx-2"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin mx-2"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p>&copy; 2023 Budapest Gourmet. All rights reserved.</p>
        </div>
    </footer>
    {% block extra_js %}{% endblock %}
</body>

</html>