{% extends 'base.html' %}

{% block content %}
<h2>Reservations List</h2>
<table>
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Username</th>
            <th>Table</th>
            <th>Date</th>
            <th>Time</th>
            <th>Guests</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.user.username }}</td>
            <td>{{ reservation.table }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.time }}</td>
            <td>{{ reservation.number_of_guests }}</td>
            <td>
                <!-- {% if user == reservation.user %}
                <a href="{% url 'update_booking' reservation.pk %}">Edit</a> |
                <a href="{% url 'delete_booking' reservation.pk %}">Delete</a>
                {% else %}
                -
                {% endif %}
            </td> -->
            <td>
                <a href="{% url 'update_booking' reservation.pk %}">Edit</a> |
                <a href="{% url 'delete_booking' reservation.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}