{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Contact Us - My Hungarian Restaurant{% endblock %}

{% block content %}
<h2>Contact Us</h2>
<p>
    If you have any questions, suggestions, or feedback, please fill out the form below and we'll get back to you as
    soon as possible.
</p>
<div class="container">
    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary">Clear Form</button>
    </form>
</div>
{% endblock %}