{% extends 'base.html' %}

{% block title %}Contact - My Hungarian Restaurant{% endblock %}

{% block content %}
<h2>Contact Us</h2>
<p>
    If you have any questions, comments, or concerns, please feel free to get in touch with us.
</p>
<div
    class="flex flex-col items-center justify-center gap-4 absolute z-90 bg-black bg-opacity-50 w-full h-full border-2 border-indigo-500 opacity-0 transition-all hover:opacity-100">
    <button class="light gap-3 lg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true" class="w-4 h-4 text-indigo-700">
            <path
                d="M11.983 1.907a.75.75 0 00-1.292-.657l-8.5 9.5A.75.75 0 002.75 12h6.572l-1.305 6.093a.75.75 0 001.292.657l8.5-9.5A.75.75 0 0017.25 8h-6.572l1.305-6.093z">
            </path>
        </svg><span class="!font-sans text-sm font-semibold text-indigo-700">Regenerate section</span></button></div>
{% endblock %}