{% extends 'base.html' %}

{% load static %}

{% block title %}Gallery - Budapest Gourmet {% endblock %}

{% block content %}
<h2 class="my-3">Gallery</h2>
<p>
    Browse through our gallery to see the ambiance, dishes, and events at My Hungarian Restaurant.
</p>
<div class="container-fluid p-0">
    <h3 class="text-center mt-4 mb-4">Starters</h3>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
            <img src="{% static 'images/goulash-soup.jpg' %}" alt="Goulash Soup" class="img-fluid">
        </div>
        <div
            class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
            <h3 class="mt-3">Goulash Soup</h3>
            <p class="mb-3">A warm and hearty soup made with tender beef, potatoes, carrots, and Hungarian paprika,
                offering a delightful blend of flavors and spices.</p>
            <p class="mt-3">£ 6.00</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
            <img src="{% static 'images/stuffed-peppers.jpg' %}" alt="Image 2" class="img-fluid">
        </div>
        <div
            class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
            <h3 class="mt-3">Stuffed Peppers</h3>
            <p class="mb-3">Fresh bell peppers filled with a flavorful mix of seasoned rice and ground meat, baked to
                perfection and served with a tangy tomato sauce.</p>
            <p class="mt-3">£ 6.00</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
            <img src="{% static 'images/ujhazi-chicken-soup.jpg' %}" alt="Image 3" class="img-fluid">
        </div>
        <div
            class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
            <h3 class="mt-3">Ujházi Chicken Soup</h3>
            <p class="mb-3">A comforting, clear chicken broth filled with tender chicken pieces, vegetables, and thin
                egg noodles,
                named after the famous Hungarian chef Ede Ujházi.</p>
            <p class="mt-3">£ 6.00</p>
        </div>
    </div>
    <h3 class="text-center mt-4 mb-4">Main Courses</h3>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
            <img src="{% static 'images/chicken-paprikash.jpg' %}" alt="Chicken Paprikash" class="img-fluid">
        </div>
        <div
            class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
            <h3 class="mt-3">Chicken Paprikash</h3>
            <p class="mb-3">Tender chicken pieces simmered in a rich and creamy paprika-infused sauce, served with
                Hungarian dumplings (nokedli) or buttered noodles.</p>
            <p class="mt-3">£ 6.00</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
            <img src="{% static 'images/stuffed-cabbage-rolls.jpg' %}" alt="Stuffed Cabbage Rolls" class="img-fluid">
        </div>
        <div
            class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
            <h3 class="mt-3">Töltött Káposzta (Stuffed Cabbage Rolls)</h3>
            <p class="mb-3">Fresh bell peppers filled with a flavorful mix of seasoned rice and ground meat, baked to
                perfection and
                served with a tangy tomato sauce.</p>
            <p class="mt-3">£ 6.00</p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
            <img src="{% static 'images/beef-onion-stew.jpg' %}" alt="Beef and Onion Stew" class="img-fluid">
        </div>
        <div
            class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
            <h3 class="mt-3">Pörkölt (Beef and Onion Stew)</h3>
            <p class="mb-3">A classic Hungarian stew made with tender beef, onions, and a generous helping of paprika,
                slow-cooked
                until flavors meld together, best enjoyed with a side of nokedli or rice.</p>
            <p class="mt-3">£ 6.00</p>
        </div>
    </div>
</div>
<h3 class="text-center mt-4 mb-4">Desserts</h3>
<div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
        <img src="{% static 'images/chimney-cake.jpg' %}" alt="Chimney Cake (Kürtőskalács)" class="img-fluid">
    </div>
    <div
        class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
        <h3 class="mt-3">Chimney Cake (Kürtőskalács)</h3>
        <p class="mb-3">A Hungarian street food favorite, this sweet, spiral-shaped pastry is crispy on the outside and
            soft on the inside, dusted with sugar and cinnamon.</p>
        <p class="mt-3">£ 6.00</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
        <img src="{% static 'images/stuffed-peppers.jpg' %}" alt="Somlói Galuska (Trifle)" class="img-fluid">
    </div>
    <div
        class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
        <h3 class="mt-3">Somlói Galuska (Trifle)</h3>
        <p class="mb-3">A delectable layered dessert consisting of sponge cake, chocolate sauce, rum-soaked raisins, and
            whipped cream, topped with a sprinkle of cocoa powder.</p>
        <p class="mt-3">£ 6.00</p>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 p-0">
        <img src="{% static 'images/strudel.jpg' %}" alt="Strudel (Rétes)" class="img-fluid">
    </div>
    <div
        class="col-12 col-sm-6 col-md-4 col-lg-2 p-3 d-flex flex-column align-items-center justify-content-between bg-dark text-light">
        <h3 class="mt-3">Strudel (Rétes) with Various Fillings</h3>
        <p class="mb-3">Delight in our flaky, paper-thin pastry filled with your choice of sweet fillings such as apple,
            cherry, or sweet cheese, baked to perfection and dusted with powdered sugar.</p>
        <p class="mt-3">£ 6.00</p>
    </div>
</div>

{% endblock %}