{% extends 'base.html' %}

{% load static %}

{% block title %}Gallery - My Hungarian Restaurant{% endblock %}

{% block content %}
<h2>Gallery</h2>
<p>
    Browse through our gallery to see the ambiance, dishes, and events at My Hungarian Restaurant.
</p>
<!-- Add images here -->
<div class="container">
    <div class="row">
        {% for row in "123" %}
        {% for col in "123" %}
        <div class="col-md-4 mb-3">
            <img src="{% static 'img/your-image-path.jpg' %}" class="img-fluid" alt="Your Image Description">
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}