{% extends 'base.html' %}

{% load static %}

{% block title %}Menu & Gallery - My Hungarian Restaurant{% endblock %}

{% block content %}
<h2>Our Menu & Gallery</h2>
<p>
    At My Hungarian Restaurant, we offer a wide range of traditional Hungarian dishes, made with the freshest
    ingredients.
</p>

<div class="container">
    <h2 class="text-center my-4">Menu & Gallery</h2>

    {% for category, dishes in menu %}
    <h3>{{ category }}</h3>
    <div class="row">
        {% for dish in dishes %}
        <div class="col-md-4 mb-3">
            <div class="card bg-dark text-white">
                <img src="{% static dish.image %}" class="card-img" alt="{{ dish.name }}">
                <div class="card-img-overlay d-flex align-items-center">
                    <h5 class="card-title text-center w-100">{{ dish.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}