{% extends 'base.html' %}

{% block title %}Menu - My Hungarian Restaurant{% endblock %}

{% block content %}
<h2>Our Menu</h2>
<p>
    At My Hungarian Restaurant, we offer a wide range of traditional Hungarian dishes, made with the freshest
    ingredients.
</p>
<div class="container">
    <h2 class="text-center my-4">Menu</h2>

    <h3>Starters</h3>
    <ul>
        <li>Goulash Soup</li>
        <li>Stuffed Peppers</li>
        <li>Ujházi Chicken Soup</li>
    </ul>

    <h3>Main Courses</h3>
    <ul>
        <li>Chicken Paprikash</li>
        <li>Töltött Káposzta (Stuffed Cabbage Rolls)</li>
        <li>Pörkölt (Beef and Onion Stew)</li>
        <li>Grilled Sausages with Pickles</li>
        <li>Hortobágyi Palacsinta (Savory Stuffed Pancakes)</li>
    </ul>

    <h3>Desserts</h3>
    <ul>
        <li>Chimney Cake (Kürtőskalács)</li>
        <li>Somlói Galuska (Trifle)</li>
        <li>Strudel (Rétes) with Various Fillings</li>
    </ul>
</div>

{% endblock %}