{% extends 'base.html' %}

{% load static %}

<!-- {% block title %}Menu & Gallery - My Hungarian Restaurant{% endblock %} -->

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Our Menu</h1>
    <div class="row">
        {% for category, dishes in menu %}
        <div class="col-lg-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ category }}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    {% for dish in dishes %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ dish.name }}
                        <span class="badge badge-primary badge-pill">{{ dish.price }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}