{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Update Reservation - My Hungarian Restaurant{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="my-3">Update Reservation</h2>
    <p>
        Update the reservation details by modifying the form below.
    </p>
    <section>
        <h2>Update Your Reservation</h2>
        <form action="{% url 'update_booking' pk=reservation.pk %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update Reservation</button>
        </form>
    </section>
</div>
{% endblock %}